pkgbase = linux-pf
	pkgdesc = Linux kernel and modules with the pf-kernel patch [-ck patchset (BFS included), TuxOnIce, BFQ] and uksm
	pkgver = 4.8.5
	pkgrel = 1
	url = http://pf.natalenko.name/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = xz
	makedepends = bc
	makedepends = kmod
	options = !strip
	source = ftp://www.kernel.org/pub/linux/kernel/v4.x/linux-4.8.tar.xz
	source = config
	source = config.x86_64
	source = linux.preset
	source = change-default-console-loglevel.patch
	source = ubuntu-unprivileged-overlayfs.patch
	source = http://pf.natalenko.name/sources/4.8/patch-4.8-pf5.xz
	source = uksm-4.8.patch::http://kerneldedup.org/download/uksm/0.1.2.5/uksm-0.1.2.5-for-v4.8.patch
	sha256sums = 3e9150065f193d3d94bcf46a1fe9f033c7ef7122ab71d75a7fb5a2f0c9a7e11a
	sha256sums = f667bbad0bf13c519b392d055a4aa8986e8b5ce60944f0ec6ec3bb2b2c9f043f
	sha256sums = 488cd21d4d02b3081856c85ae2d92d2f89c29ff08a6fb42cfcc516f5ae6d8ca5
	sha256sums = 82d660caa11db0cd34fd550a049d7296b4a9dcd28f2a50c81418066d6e598864
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99
	sha256sums = 01a6d59a55df1040127ced0412f44313b65356e3c680980210593ee43f2495aa
	sha256sums = 362ea39bea1c8e0033f691c094c1d91200ec20ab066addb554514bd99ce248dc
	sha256sums = ddda9d1de5bf62d23cc0bf38fed9526f3d2f2e236707c26fda3e3042f853bb8c

pkgname = linux-pf
	pkgdesc = Linux kernel and modules with the pf-kernel patch [-ck patchset (BFS included), TuxOnIce, BFQ]
	groups = base
	depends = coreutils
	depends = linux-firmware
	depends = kmod>=9-2
	depends = mkinitcpio>=0.7
	optdepends = linux-docs: Kernel hackers manual - HTML documentation that comes with the Linux kernel.
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = pm-utils: utilities and scripts for suspend and hibernate power management
	optdepends = tuxonice-userui: TuxOnIce userspace user interface
	optdepends = hibernate-script: set of scripts for managing TuxOnIce, hibernation and suspend to RAM
	optdepends = nvidia-pf: NVIDIA drivers for linux-pf
	optdepends = nvidia-beta-all: NVIDIA drivers for all installed kernels
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed. Useful for make localmodconfig.
	provides = linux-pf=4.8.5
	conflicts = linux-pf
	conflicts = kernel26-pf
	replaces = kernel26-pf

pkgname = linux-pf-headers
	pkgdesc = Header files and scripts for building modules for linux-pf kernel.
	depends = linux-pf
	provides = linux-pf-headers=4.8.5
	conflicts = linux-pf-headers

pkgname = linux-pf-preset-default
	pkgdesc = Linux-pf default preset
	install = linux.install
	depends = linux-pf=4.8.5
	provides = linux-pf-preset=4.8.5
	backup = etc/mkinitcpio.d/linux-pf.preset

