pkgbase = linux-pf
	pkgdesc = Linux kernel and modules with the pf-kernel patch [-ck patchset (BFS included), TuxOnIce, BFQ] and uksm
	pkgver = 4.13.13
	pkgrel = 1
	url = http://pf.natalenko.name/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = xz
	makedepends = bc
	makedepends = kmod
	makedepends = elfutils
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.13.tar.xz
	source = config.i686
	source = config.x86_64
	source = linux.preset
	source = ubuntu-unprivileged-overlayfs.patch
	source = https://github.com/pfactum/pf-kernel/compare/v4.13...v4.13-pf13.diff
	source = 90-linux-pf.hook
	md5sums = ab1a2abc6f37b752dd2595338bec4e78
	md5sums = 0a0274fca595a20d1109308bfdb66aef
	md5sums = 9d663d50aa1d7209e15404a93a8305e7
	md5sums = 408a033f1332317f312617704edf9f75
	md5sums = 6ad1a637517c603fc45814e1f8d8b057
	md5sums = 3dbdc74f2195280254d7d66ca4355775
	md5sums = d5f9f6c2acf4f54e27a2e780d234cdc1

pkgname = linux-pf
	pkgdesc = Linux kernel and modules with the pf-kernel patch [-ck patchset (BFS included), TuxOnIce, BFQ]
	groups = base
	depends = coreutils
	depends = linux-firmware
	depends = kmod>=9-2
	depends = mkinitcpio>=0.7
	optdepends = linux-docs: Kernel hackers manual - HTML documentation that comes with the Linux kernel.
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = pm-utils: utilities and scripts for suspend and hibernate power management
	optdepends = tuxonice-userui: TuxOnIce userspace user interface
	optdepends = hibernate-script: set of scripts for managing TuxOnIce, hibernation and suspend to RAM
	optdepends = nvidia-pf: NVIDIA drivers for linux-pf
	optdepends = nvidia-beta-all: NVIDIA drivers for all installed kernels
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed. Useful for make localmodconfig.
	provides = linux-pf=4.13.13
	provides = linux-tomoyo
	conflicts = linux-pf
	conflicts = kernel26-pf
	replaces = kernel26-pf

pkgname = linux-pf-headers
	pkgdesc = Header files and scripts for building modules for linux-pf kernel.
	depends = linux-pf
	provides = linux-pf-headers=4.13.13
	conflicts = linux-pf-headers

pkgname = linux-pf-preset-default
	pkgdesc = Linux-pf default preset
	install = linux.install
	depends = linux-pf=4.13.13
	provides = linux-pf-preset=4.13.13
	backup = etc/mkinitcpio.d/linux-pf.preset

